[Unit]
Description=SDP - synchronisation et déploiement des releases toutes les 30 minutes

[Timer]
OnBootSec=30s
OnUnitActiveSec=30min
Unit=sdp-release-sync.service

[Install]
WantedBy=timers.target
